.mainContent {
    /* width: 100vw;
    height: 30vh; */
    position: absolute;
    top:0px;
    background-color: transparent;
    color:white;
    padding: 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow-y: scroll; */
}
.testCanvas {
    /* width: 256px;
    height: 256px;
    border:2px solid red; */
}
.highres{
    color:white;
    font-weight: bold;
    font-size: 14px;
}
.btn {
    margin-right: 10px;
}